<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <div align="center">
        <h2>註冊結果</h2>
        <div th:if="${emailExists != null}">
            <p th:if="${emailExists}" style="color: red;">該信箱已存在，請使用其他信箱。</p>
            <p th:unless="${emailExists}" style="color: green;">修改成功!</p>
        </div>
        <p th:if="${emailExists == null}">發生錯誤。</p>


        <button class="register">回上一頁</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        $('.register').click(function () {
            window.location.href = "html/register.html"
        })
    </script>
</body>

</html>